{
    "endOfLine": "lf",
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false,
    "importOrder": ["^react", "^gatsby", "^@testing-library" ,"<THIRD_PARTY_MODULES>", "^assets/(.*)$", "^components/(.*)$", "^constants(.*)$", "^context/(.*)$", "^hooks/(.*)$", "^layout/(.*)$", "^services/(.*)$", "^utils/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true,
    "prettier.printWidth": 700
  }
  